# Updated::20161121::ryan.topfer@polymtl.ca
# =========================================================================

# ignore specific files
.DS_Store

# wildcards
*~
*.swp
._*
.nfs*
*.pyc
*.log
 
